.title-galery {
  height: 30vh;
}

.rooms-img {
  width: 33%;
  padding-bottom: 0.625rem;
}

.room-information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.room-information li {
  width: 25%;
  text-align: left;
  margin-top: 0.625rem;
}
